* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
:root {
  --branding-color: #fff;
  --branding-color-1: #013d29;
  --branding-color-2: #afafaf;
  --branding-color-3: #f5f6f6;
  --branding-color-4: #f2e4d9;
  --branding-color-5: #EA4335;
  --branding-color-6: #dfc0ab;
  --branding-color-7: #d3f7ee;
  --branding-color-8: #C5C5C5;
  --branding-color-9: #051c14;
  --branding-color-10: #C5C5C5;
  --heading-font: 'Poppins', sans-serif;
  --sub-heading-font: 'Playfair Display', serif;
  --sub-heading-font-1: 'Nunito', sans-serif;
  --sub-heading-font-2: 'Rubik Bubbles', cursive;
  --sub-heading-font-3: 'Secular One', sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: #fff;
}
a {
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
}
section {
  padding: 20px 0px;
}
.wrapper .first-heading {
  text-align: center;
  padding: 5px 20px;
  background-color: var(--branding-color-1);
}
.first-heading  {
  text-align: center;
  justify-content: space-between;
}
.first-heading ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  
  color:#fff;
}
#first-nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
}
#first-bar {
  background-color: #013D29;
}
.dropdown .drop-btn {
  font-size: 14px;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px 15px;
  font-family: monospace;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #013D29;
  min-width: 120px;
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.dropdown-content a {
  font-size: 12px;
  float: none;
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown a:hover {
  color: #7cfc00;
}
.navbar input[type=text] {
  padding: 2px;
  padding-left: 5px;
  font-size: 12px;
  border: none;
  border-radius: 20px;
  margin-top: 5px;
  margin-right: 16px;
  background-color: #F5F7F9;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  text-transform: capitalize;
  font-weight: bold;
}
.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #fff;
  padding: 0.5rem 1.5rem;
}

.nav-logo {
  margin-top: 10px;
  font-size: 34px;
  font-weight: bold;
  color: #013d29;
}

.nav-logo {
  color: #013d29 !important;
}

.logo img {
  font-size: 34px;
  width: 30px;
}

.navbar a {
  color: #000;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0px 0.8rem;
}

.nav-menu ul {
  padding: 0px 0.8rem;
  justify-content: space-between;
}

.nav-menu li {
  padding: 0px 15px;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}

.dropdown-cont {
  display: none;
  position: absolute;
  background-color: #013D29;
  min-width: 100px;
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.dropdown-cont a {
  display: block;
  color: #fff;
  float: none;
  text-align: left;
  padding: 5px 15px;
}

.dropdown .nav-item i {
  color: #000;
  padding: 0px 8px;
  font-size: 18px;
}

.dropdown-cont a:hover {
  color: red;
}

.dropdown:hover .dropdown-cont {
  display: block;
}

.navbar input {
  border: 1px solid #afafaf;
  margin-top:10px ;
  padding: 10px 15px;
  border-radius: 20px;
  opacity: 0.7;
}

.mobile-nav {
  display: none;
  margin-top: 10px;
}

.mobile-menu {
  position: absolute;
  display: none;
  top: 70px;
  right: 0;
  background-color: #013D29;
  width: 180px;
  height: 380px;
  margin-top: 40px;
  transition: all 0.3ms ease-in-out;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.mobile-menu a {
  text-transform: capitalize;
  text-decoration: none;
  text-align: left;
  line-height: 1.5;
  color: #fff;
  padding: 10px;
}

.mobile-menu ul {
  list-style: none;
  padding: 0px 21px;
}

.mobile-menu a:hover {
  color: #000;
}

.mobile-menu.active {
  display: inline-block;
}

.no-scroll {
  overflow: hidden;
}
.reveal {
  position: relative;
  opacity: 0;
}

.reveal.visible {
  opacity: 1;
}

.visible.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.visible.fade-right {
  animation: fade-right 1s ease-in;
}

.visible.fade-left {
  animation: fade-left 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media only screen and (max-width: 1320px) {
  .nav-menu {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .homepage-text h1 {
    font-size: 1.0rem;
  }

  .homepage-text p {

    font-size: 14px;

  }

  .row {
    display: block;
  }

  .store-brand {
    right: 65px !important;
    bottom: 70px !important;
    }
}

@media only screen and (max-width: 1100px) {
  .nav-menu {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .homepage-text h1 {
    font-size: 18px;
  }

  .homepage-text p {

    font-size: 14px;

  }

  .row {
    display: block;
  }

  .items {
    top: 20px;
    right: 40px !important;

  }

}

@media only screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .mobile-nav {
    display: block;
  }
.first-none {
  display: none;
}
  .homepage-text h1 {
    font-size: 2.0rem !important;
  }

  .homepage-text p {
    font-size: 14px !important;
  }

  .row {
    display: block !important;
  }

  .img-brand-wrapper {
    padding: 0.1rem 0.4rem !important;
  }

  .items {
    top: 20px;
    right: 30px !important;
  }

  .category-img-wrapper img {
    height: 220px !important;
  }

  h3 {
    font-size: 2.0rem;
  }
  .store-brand {
    right: 80px !important ;
    bottom: 80px !important;
  }
  .cash-wrapper h3 {
    font-size: 32px !important;
  }
  .cash-wrapper p {
    font-size: 12px !important;
  }
  .cash-page .cash-wrapper {
    width: 85% !important;
  }
}

.homepage {
  background: url('../Assets/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
}

.homepage-text {
  position: relatives;
  line-height: 1.5;
  color: var(--branding-color);
  padding: 40px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.homepage-text h1 {
  margin-top: 4.0rem;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  color: #fff;
}

.homepage-text p {
  color: #fff;
  font-size: 21px;
  font-weight: 700;
}

.homepage-text a {
  background-color: #013D29;
  color: var(--branding-color);
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.4) rgba(224, 133, 133, 0.5);
}

.homepage-text a:hover {
  background-color: #000;
  cursor: pointer;
}

.shop-category h3 {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
}

.shop-category-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
}

.category-img-wrapper img {
  border-radius: 10px;
  width: 100%;
  height: 250px;
}

.items {
  position: absolute;
  font-weight: bold;
  font-size: 21px;
  color: var(--branding-color);
  text-transform: capitalize;
  top: 20px;
  right: 48px;

}

.shop-category .category-img-wrapper {
  position: relative;
  margin-top: 10px ;
}

.best-grid {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  padding: 2rem;
}

.best-img-wrapper {
  position: relative;
}

.best-img-wrapper img {
  background-color: var(--branding-color-3);
  border-radius: 10px;
  max-width: 100%;
  width: 100%;
}

.best-img-wrapper>div {
  flex: none;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;

}

.best-txt h3 {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

.best-txt p {
  font-size: 12px;
  font-family: 'Playfair Display', serif;
  text-align: left;
  opacity: 0.7;
}

.best-txt a {
  font-size: 12px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
  color: #000;
  font-weight: 700;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: rgba(0, 0, 0, 0.5);
  transition: 0.3ms all ease-in-out;
}

.best-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.best-txt a:hover {
  background-color: var(--branding-color-1);
  color: var(--branding-color);
  border: hidden;
  cursor: pointer;
}
.wrappers .img-wrapper {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
}
.wrappers .img-wrapper img {
  height: 260px;
  width: 260px;
  display: inline-block;

}

.fav {
  font-size: 14px;
  padding: 10px;
  background-color: var(--branding-color);
  border-radius: 50%;
  color: #000;
  position: absolute;
  top: 16px;
  right: 30px;

}

.fav:hover {
  background-color: var(--branding-color-4);
}

.star {
  text-align: left;
}

.rating-star {
  font-size: 12px;
  color: green;
}

.brand .brand-page {
  padding: 0px 30px;
  width: 100%;
  max-width: 100%;
  margin-top: 40px;
}

.brand .img-brand {
  margin: 0 auto;
  font-size: 34px;
  font-weight: bold;
  color: var(--branding-color-1);
}

.brand .row {
  display: flex;
  padding-right: 20px !important;
}

.brand .row img {
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

.brand .col-1 {
  padding: 0.2rem 0.1rem;
}

.brand .brand-txt {
  padding: 1.5rem 0.2rem;
  line-height: 1.5;
}

.brand .brand-txt h3 {
  font-size: 14px;
}

.brand .brand-txt p {
  font-size: 12px;
}

.brand .img-brand-wrapper {
  background-color: var(--branding-color-3);
  display: flex;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  width: 100%;
}

.img-brand-wrapper img {
  width: 90px !important;
  height: 70px !important;
  padding: 0.2rem 0.8rem;
}
.bonus {

.bonus-page p {
  margin-bottom: 4px;
}
.bonus-wrapper-grid {
  margin-top: 10px;
}
.bonus-page .bonus-wrapper-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.bonus-page .bonus-item-3 {
  background-color: #afaf;
  border-radius: 10px;
  padding: 0px;
}

 .bonus-page img {
  width: 100%;
  height:200px;
  max-width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.bonus-txt-1 .bonus-txt-2 .bonus-txt-3 .bonus-txt-4 info {
  font-weight: bold;
}

.bonus-txt-1 .bonus-txt-2 .bonus-txt-3 h3 {
  font-size: 21px;
}

.bonus-txt-1 span {
  color: #961f1f;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  ;
}

.bonus-txt-1 {
  background-color: var(--branding-color-6);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 1.0rem 1.0rem;
  opacity: 0.8;
}

.bonus-txt-2 span {
  color: #cb9917;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
}

.bonus-txt-2 {
  background-color: #f2e4d9;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 1.0rem 1.0rem;
  opacity: 0.8;
}

.bonus-txt-3 span {
  color: #94623c;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
}

.bonus-txt-3 {
  background-color: #f2e4d9;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 1.0rem 1.0rem;
  opacity: 0.8;
}

.bonus-txt-4 span {
  color: #013d29;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
}

.bonus-txt-4 {
  background-color: #d3f7ee;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 1.0rem 1.0rem;
}
}
.cash-page {
  background-image: url('../Assets/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 70vh;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;

  .cash-page p {
    line-height: 1.5;
  }

 .cash-wrapper {
  margin: 40px auto;
  padding: 40px;
  background-color: var(--branding-color-1);
  width: 50%;
  max-width: 100%;
  justify-items: right;
  justify-self: right !important;
}
.cash-wrapper a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 30px;
  transition: all 0.3ms ease-in-out;
}
.cash-wrapper h3 {
  font-size: 48px;
  font-weight: bold;
}
.cash-wrapper a:hover {
  background-color: #000;
  border: #000;
}
}

.cash-txt {
  text-align: left;
  color: #fff;
}
.cash-btn {
  margin-top: 40px;
  margin-bottom: 20px;
}

.products-page {
  margin-top: 30px;
}

.deals h3 {
  text-transform: capitalize;
}
    
.deal-grid div {
  display: inline-block;
  padding: 20px 10px;
}
.deal-grid-wrapper {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}
.deal-grid-wrapper img {
background-color: var(--branding-color-3);
border-radius: 10px;
}
.deal-wrapper a {
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 300;
  border: 1px solid #C5C5C5;
  color: #000;
  background-color: #fff;
  transition: all 0.3ms ease-in-out;
} 
.deal-wrapper a:hover {
  background-color: var(--branding-color-1);
  color: #fff;
}

#get-section-page {
  margin-top: 30px;
}
#get-section-page .get-page {
  background-color: #FFE6CC;
  padding: 20px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#get-section-page .get-page img {
  padding: 0 18px;
  width: 80%;
  height: 100%;
}

#get-section-page .get-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 2rem;
}

#get-section-page .get-page .cash-txt {
  text-align: left;
  color: #000;
  padding: 15px 10px;
}

#get-section-page .get-page .cash-txt h3 {
  font-weight: 700;
  font-size: 42px;
}

#get-section-page .get-page a {
  text-align: center;
  padding: 15px 30px;
  border-radius: 30px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  background-color: #051c14;
}

#get-section-page .get-page a:hover {
  background-color: #013D29;
  cursor: pointer;
}

.trending-page {
  margin-top: 40px;
}

.trending-page h3 {
  font-size: 30px;
}

.trending-page img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.trending-page .trend-grid  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.trend-wrapper {
  margin-top: 20px;
}

.trending-page a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #212121;
}
.trend-wrapper .trend-txt {
padding: 2rem;
width: 100%;
background-color: var(--branding-color-3);
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
text-align: left;
line-height: 1.5;

}
.trending-page .cash-btn {
  margin-top: 40px;
  margin-bottom: 20px;
}

.trending-page a:hover {
  background-color: #013D29;
  cursor: pointer;
}

.selling-page {
  margin-top: 20px;
  margin-bottom: 10px;
}

.selling-store-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: minmax(150px, 1fr);
  gap: 10px;
}

.selling-img-wrapper {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.store-brand {
  position: absolute;
  right: 180px;
  bottom: 70px;
}

.store-brand img {
  width: 50px !important;
}

.sell-img img {
  max-width: 100%;
  border-radius: 10px;
}

.selling-page .brand-txt {
  margin-top: 30px;
  padding: 0px 10px;
  opacity: 0.7;
  line-height: 1.5;
}

.selling-page .brand-txt h3 {
  font-size: 18px;
  font-weight: 700;
}

.selling-page .brand-txt .p1 {
  font-size: 12px;
  color: #000;
  font-weight: 800;
}

.selling-page .brand-txt p {
  font-size: 12px;
  color: #961f1f;
  font-weight: normal;
}

.zooms img {
  width: 100%;
  transition: 2s;
}

.zooms:hover img {
  transform: scale(0.8);
}

.zoom-effect {
  overflow: hidden;
  max-width: 100%;
}

.image-cards {
  position: absolute;
  top: 0;
  left: 0;
}

.image-card img {
  transition: 0.4s ease;
  width: 100%;
}

.zoom-effect:hover .image-card img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
#service {
  margin-top: 30px;
  margin-bottom: 20px;

.service-wrapper-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.service-wrapper-grid {
  margin-top: 20px;
}
.service-txt {
  background-color: var(--branding-color-3);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  line-height: 1.5;
  padding: 2.0rem 1.0rem;

}

.service-txt h3 {
  font-size: 24px;
  color: var(--branding-color-1);
}

.service-page img {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
}
.payments .deal-wrapper-payment img {
  max-width: 100%;
  height: 100%;
  padding: 0px 20px;
}

.payments .deal-grid {
  text-align: center;
}

.payments .deal-grid div {
  display: inline-block;
  padding: 10px 0px;
}

footer {
  opacity: 0.7;
}
.footer-page {
  margin-top: 40px;
}
.footer-page .footer-wrapper h3 {
  text-align: left;
  font-size: 14px;
  font-family: var(--sub-heading-font);
}

.footer-page .footer-wrapper p {
  font-size: 12px;
  font-family: var(--sub-heading-font-1);
}

.footer-page .footer-wrapper a {
  text-decoration: none;
  color: #212121;
}

.footer-page .footer-wrapper li {
  list-style: none;
  padding: 10px 2px;
  opacity: 0.8;

}

.footer-page .footer-wrapper a:hover {
  color: #961f1f;
}

.footer-page .footer-grid {
   display: flex;
}
.footer-design {
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  color: #000;
}
.footer-design .social-links {
  margin-bottom: 20px
}

.footer-design .social-links i {
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #C5C5C5;
  color: #fff;
  background-color: #000;
}

.copyright a {
  text-decoration: none;
  color: #cb9917;
  font-weight: 700;
}

.copyright a:hover {
  color: #961f1f;
}

.copyright {
  margin-top: 40px;
}
.container {
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    background-color: #fff;

    @media (max-width: 767px) {
        max-width: calc(100% - 10px);
        padding: 0px;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        max-width: calc(100% - 80px);
    }

    @media (min-width: 1200px) {
        max-width: calc(100% - 30px);
        widths: 1180px;
    }

    @media (min-width: 1201px) {
        max-width: calc(100% - 80px);
        widths: 600px;
    }

    @media (min-width: 1400px) {
        width: calc(100% - 100px);
        max-width: 1500px;
        padding: 0px 30px;
    }
}

@media only screen and (max-width:900px) {

}

@media only screen and (max-width: 768px) {
       
}